In [1]:
import duckdb 
import pandas as pd

In [2]:
%load_ext sql

In [3]:
conn = duckdb.connect()

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
conn = duckdb.connect()

In [6]:
%sql conn --alias duckdb

In [7]:
users = {
    'User_ID': [123, 124, 125],
    'User_Name': ['Bob', 'Alice', 'Carrie']
}

users = pd.DataFrame(users)
users

   User_ID User_Name
0      123       Bob
1      124     Alice
2      125    Carrie

In [8]:
orders = {
    'User_ID': [123, 125, 126],
    'Order_ID': [333,222, 111],
}
orders = pd.DataFrame(orders)
orders

   User_ID  Order_ID
0      123       333
1      125       222
2      126       111

In [9]:
query = """ 
select *
from users U 
SEMI JOIN orders O
ON (U.User_ID = O.User_ID);
"""
duckdb.sql(query).df()

   User_ID User_Name
0      123       Bob
1      125    Carrie

In [10]:
query = """ 
select * 
from users U
 ANTI JOIN orders O
 ON (U.User_ID = O.User_ID);
"""

duckdb.sql(query).df()

   User_ID User_Name
0      124     Alice

In [11]:
query = """ 
select * 
from users U 
NATURAL JOIN orders O;
"""

duckdb.sql(query).df()

   User_ID User_Name  Order_ID
0      123       Bob       333
1      125    Carrie       222

In [13]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import warnings 

from datetime import date, timedelta 
from joypy import joyplot 
from pandas.api.types import CatogricalDtype 

warnings.filterwarnings("ignore")

ImportError: cannot import name 'CatogricalDtype' from 'pandas.api.types' (c:\Users\ungdu\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\api\types\__init__.py)